:root {
    font-family: 'Arial', sans-serif;
    color: var(--carbon_black);
    --carbon_black: #191919;
    --violet: #553A41;
    --pink: #bb7e8c;
    --gray: #E6E8E6;
    --blue: #3a6ea5;
    --hover_blue: #2a4e75;
    --text-size: 16px;
}

body {
    background-color: var(--violet);
    margin: 20px 150px;
    padding: 0;
}

.logo {
    width: 130px;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 60px;
    padding-right: 80px;
    background-color: var(--pink);
}

nav a {
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 15px;
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

nav a:hover {
    background-color: var(--violet);
}

.hero {
    min-height: 400px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%), url('images/hero_section_bg_v2.png');

    background-size: cover;
    background-position: center; 

    display: flex;
    align-items: center;
    padding: 0 5%;
}

.hero-content {
    max-width: 500px;
    color: #ffffff;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero-content p {
    line-height: 1.5;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: var(--hover_blue);
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: var(--text-size);
}

.disc_products {
    background-color: var(--pink);
    padding: 20px;
    padding-bottom: 30px;
}

.new_arrivals {
    background-color: var(--pink);
    padding: 20px;
    padding-bottom: 30px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.underlined_hd {
    border-bottom: 1px var(--carbon_black) solid;
    padding-bottom: 15px;
}

.products_list {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.product {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
}

.product img {
    height: 70%;
    width: auto;
    object-fit:contain;
    border-radius: 15%;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 10px;
}

.price {
    font-size: var(--text-size);
    margin-top: 5px;
    text-align: center;
}

.discount {
    text-decoration: line-through;
    color: var(--carbon_black);
    margin-right: 10px;
}

.about {
    background-color: var(--pink);
    padding: 20px;
    padding-bottom: 30px;
}

.about p{
    font-size: calc(1.25 * var(--text-size));
}