:root {
    font-family: 'Arial', sans-serif;
    --violet: #553A41;
}

body {
    background-color: var(--violet);
    margin: 20px 150px;
    padding: 0;
}

.logo {
    width: 130px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 60px;
    padding-right: 80px;
    background-color: #bb7e8c;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

nav a:hover {
    background-color: #191919;
}